
	.navbar {
		box-shadow: -1.4px -1.4px 6px 0 #97a2a0;	
	}
	
	.navbar .wrapper{
		height: 84px;
		background: white;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 12px;
		
	}
	
	.navbar__site-name {
		color: #489846;
		font-size: 36px;
	}
	
	.navbar__list {
		list-style: none;
		margin= 0;
		padding= 0;
		display: flex;
		font-size: 18px;	
	}
	
	.navbar__list li {
		margin-left: 12px;
		border-radius: 8px;
		transition: background 0.4s ease-in;
	}
	
	.navbar__list li.active, .navbar__list li:hover {
		background: #ff7286;
	}
	
	.navbar__list li.active a, .navbar__list li:hover a{
		color: white;
	}
	
	.navbar__list li a {
		display: block;
		text-decoration: none;
		color:black;
		padding: 12px 24px;					
	}
	.wrapper {
		max-width: 1280px;
		margin: 0 auto;
		padding: 0 12px;
	}
	
	.banner {
		position: relative;
		height: 450px;
		background: url(2.png) center/cover no-repeat;
	}
	
	.banner:after {
		content: ''; /*設定偽元素時，一定要有一個content*/
		position: absolute; /*absolute 會往上層找 relative 當定位點*/
		background: rgba(0, 0, 0, 0.4);
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
	}
	
	.banner h1 {
		display: inline-block;
		position: relative;
		z-index:2;
		margin: 0;
		color: white;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 60px;
		font-weight: bold;
	}
	
	h2 {margin: 0;
	}
	
	.section {
		text-align: center;
		margin: 80px 0;
	}
	
	.section__title{
		font-size: 36px;
		color: #000000;
		border-left: solid 15px #a3dea2;
		display: inline-block;
		padding-left: 17px;
		margin-bottom: 36px;
	}
	
	.section__desc{
		font-size: 16px;
		color: #000000;
		line-height: 2em;
		margin: 0px 0px 68px 0px;	
	}
	
	.button {
		padding: 60px 80px;
		font-size: 36px;
		color: #3e613d;	
		display: inline-block;
		border-radius: 10px;
		cursor: pointer;
		transition: transform 0.1s;
	}
	
	.button:hover {
		transform: scale(1.1);
	}
	
	.btn-order {
		background: #a8e8e1;
		
	}
	
	.btn-query {
		margin-left: 14px;
		background: #f9f9b5;
	}
	
	.section__images {
		display: flex;
	}
	
	.section__images div {
		width: 25%;
	}
	
	.section__images img {
		width: 100%;
	}
	
	
	.section__comments {
		display: flex;
		justify-content: space-between;
		margin-top: 80px;
	}
	
	.comment {
		border-radius: 5px;
		box-shadow: -1.4px -1.4px 4px 0 #d8eaef;
		border: solid 1px #c7e5ec;
		width: 565px;
		height: 255px;
		box-sizing: border-box;
		padding: 12px;
		position: relative;
	}
	
	.comment__content {
		padding: 73px 19px 39px 24px;
		color: #000000;
		font-size: 16px;
		text-align: cemter;
		line-height: 1.5em;
		
	}
	.comment + .comment {
		margin-left: 16px;
	}
	
	.comment__avatar {
		width: 105px; /*網頁很貼心，直接提供符合規格的圖檔，這裡不設定也ok*/
		height: 105px;
	}
	
	.comment__avatar img{
		width: 100%;
		height: 100%;
	}
	
	.comment__author {
		display: inline-block;
		position: absolute;
		top: 18px;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	
	.comment__author p {
		margin-top: 6px;
		line-height: 18px;
	}
	
	/*
	原本寫出來的版型是這樣，但是三個包在同一個 div 下，版型看起來非常的奇怪，【國父桑】的那個評論會往上跳到與【吃過都說好】並排，無法三個評論並列平分同一行空間 (也有可能是我運用指令的功力還不到)
	現在是覺得可以分層寫的話，還是盡量分層寫會比較好，比較容易做微調，像我下面的寫法除了排版很怪之外，如果只是要對其中一個評論做版面微調的話，好像也很困難
	.section__review {
		box-shadow: -1.4px -1.4px 4px 0 #d8eaef;
		border: solid 1px #c7e5ec;
		width: 565px;
		height: 205px;
		border-radius: 5px;
		box-sizing: border-box;
		padding: 93px 22px 41px 27px;
		margin-left: 16px;
		display: inline-block;
		font-size: 16px;
		text-align: center;
		color: #000000;
		position:relative;
		
	}
	
	.review__image {
		width: 105px;
		height: 105px;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate (-50%, -50%);
		display: inline-block;
	}
	*/
	
	footer {
	margin-top: 48px;	
	}
	
	.footer__top {
		background: #e8efee;
		padding: 32px;
		color: #484848;
		font-size: 14px;
		
	}
	
	.footer__top .wrapper {
		display: flex;
		justify-content: space-between;
	}
	
	.footer__info {
		margin-right: 16px;
	}
	
	.footer__info div + div {
		color: #484848;
		font-size: 14px;
		margin-top: 10px;
	}
	
	.footer__site {
		color:#489846;
		font-size: 36px;
	}
	.footer__bottom {
		background: #35564b;
		padding: 12px;
		text-align: center;
		color:white;
		font-size: 16px;
	}
	
	@media(max-width: 768px){
		.navbar .wrapper {
			height: 120px;
			justify-content: space-between;
			flex-direction: column;
			padding: 0;
		}
		.navbar__site-name{
			margin-top: 10px;
		}
		.navbar__list {
			display: flex;
			width: 100%;
		}
		.navbar__list li{
			flex: 1;
			margin-left: 0;
			border-radius: 0;
			text-align: center;
		}
		
		.btn-query {
			margin-left: 0;
			margin-top: 16px;
		}
		
		.section__images {
			flex-direction: column;
		}
		
		.section__images div {
			width: 100%;
		}
		.footer__top .wrapper {
			flex-direction: column-reverse;
		}
		.footer__info {
		margin-right: 0;
		margin-top: 16px;
		}
	.section__comments {
		flex-direction: column;
		justify-content: center;
		}
	.comment + .comment {
		margin-left:0;
		margin-top: 64px;
		margin-top: 26px;
		}
	}
	
	
